<!-- SPDX-FileCopyrightText: 2025 Oscar Bender-Stone@protonmail.com -->
<!-- SPDX-License-Identifier: CC-BY-SA-4.0 -->

<!DOCTYPE html>
<html>
<head>
  <title> The Welkin Standard </title>
</head>
<body>
  <%=html_body%>
</body>
</html>
